.dailyTasks {
    height: 300px;
    width: 900px;
    border-radius: 12px;
    background: #FEFEFE;
    padding: .75rem;
}
.dailyTasks h1 {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 1em;
}

.dailyTasks h1 span {
    text-transform: lowercase;
}