.dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.leftSide {
    display: flex;
    flex-flow: column;
    width: 900px;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    align-items: flex-start;
    margin-left: 20px;
}
.SearchNotificationSettingsSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.375em 0 0 0 ;
    width: 900px;
    
    
}

.progressStaticsSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.375em 0 0 0 ;
    width: 900px;
    height: 500px;
}
.dailyTasksSections {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.375em 0 0 0 ;
    width: 900px;
    height: 500px;

}

.rightSide {
    display: flex;
    flex-flow: row;
    width: 400px;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    align-items: flex-start;
    margin-left: 20px;
    
}

.profileSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.375em 0 0 0 ;
    width: 900px;
    height: 500px;

}